target
.svn
src/main/java/fi/csc/smear/db
src/main/webapp/VAADIN
test-output
*.iml
*.rej
*.patch
*.diff
*.orig
.idea
.project
.classpath
.settings
.idea~
.project~
.classpath~
.settings~
.gitignore~
*.java~
*.xml~
